.accent {
  color: #369;
  font-weight: 400;
  letter-spacing: .2ch;
}

div#next {
    display: flex;
    flex-direction:  row;
    align-items: baseline;
    justify-content:  space-between;
}

@media only screen and (max-width: 600px) {
  div#next {
    flex-direction: column;
  }
  div#next h1 {
    margin-bottom: 0;
  }
  div#next p {
    margin-top: 0;
  }
}

div#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-story {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 4px;
  height: fit-content;
}

app-submit, app-vote {
  min-height: 1em;
  flex: 0 0 auto;
}
